/* Specifies the layout of the html page */
.page-header-top {
    padding: 10px;
    background-color: #C17736;
    color: white;
}

.page-header-top h1 {
    margin: 0;
    color: #663409;
}

.page-header-image {
    max-height: 250px;
    overflow: hidden;
    border-bottom: 2px solid #000;
    background-position: center center;
    background-size: cover;
    position: relative;
    z-index: -9999;
}

.page-header-image img {
    display: block;
    width: 100%;
    height: auto;
    opacity: 0;
}

.page-content {
    padding: 10px;
}

.page-content article {
    margin: 10px;
    display: inline-block;
}
.page-content article img {
    float: left;
    width: 80px;
    height: 80px;
}



.page-sidebar {
    padding: 10px;
    border-top: 1px solid #000;
    background-color: #F5BE8F;
}

.page-footer {
    padding: 10px;
    background-color: #000;
    color: #fff;
}

.page-footer p {
    margin: 0;
}

.page-footer .link-container {
    display: block;
}

a.print-link {
    display: inline-block;
    width: 32px;
    height: 34px;
    margin: 5px;
    background-image: url(../images/print_spridesheet_small.png);
}

a.print-link:hover,
a.print-link:focus
a.print-link:active {
    background-image: url(../images/print_spridesheet_small.png);
    background-position: -32px -32px;
}

a.email-link {
    width: 32px;
    height: 34px;
    display: inline-block;
    margin: 5px;
    background-image: url(../images/mail_spridesheet_small.png);
}

a.email-link:hover,
a.email-link:focus
a.email-link:active {
    background-image: url(../images/mail_spridesheet_small.png);
    background-position: -32px -32px;
}

.page-content .teaserbox {
    border: 1px solid #000;
    border-radius: 4px;
    margin: 2px;
    padding: 5px;
}

.page-content .teaserbox img {
    float: left;
    width: 80px;
    height: 80px;
}

.page-content .teaserbox a {
    display: inline-block;
    text-decoration: none;
    color: #000;
    z-index: 9999;
}

/* with flex  box */
@media (min-width: 300px) {

    .page-main-area {
        display: -webkit-flex;
        display: flex;
        background-image: linear-gradient(to right, #FFF 0%, #FFF 80%, #F5BE8F 80%, #F5BE8F 100%);
    }

    .page-content {
        -webkit-felx: 4;
        flex: 4;
    }

    .page-sidebar {
        -webkit-felx: 1;
        flex: 1;
        border-top: 0;
    }

}
