/* Basics for all of the navigation */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav a {
    display: block;
    color: #FFFFFF;;
}

nav a:visited {
    display: block;
    color: #000;
}

/* Main nav styles */
.main-nav li {
    border-bottom: 2px solid #000;
}

.main-nav li:first-child {
    border-top: 2px solid #000;
}

.main-nav a {
    text-decoration: none;
    padding: 10px;
}

.main-nav a:hover, .main-nav a:focus, .main-nav .is-active a:hover, .main-nav .is-active a:focus {
    background-color: #FEDECB;
    color: #663409;
}

.main-nav .is-active a {
    background-color: #F5BE8F;
    color: #000;
    font-weight: bold;
}

/* via flex container */
@media (min-width: 450px) {

    .main-nav ul {
        display: -webkit-flex;
        display: flex;
    }

    .main-nav li {
        -webkit-felx: 1;
        flex: 1;
        border-bottom: 0;
        border-left: 2px solid #000;
        text-align: center;
    }

    .main-nav li:last-child {
        border-right: 2px solid #000;
    }

    .main-nav li:first-child {
        border-top: 0;
    }
}